
<header>
  <h1 class="tittle">Scribing-App</h1>
</header>

<body>
  <div class="container">
    
    <div class="leftblock">
      
      <div class="calender">
        <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
        <!-- <p>Selected date: {{selected}}</p> -->
      </div>
      
      <div class="mood">
        <app-mood></app-mood>
      </div>
      
    </div>

    <div class="midblock">
      <div class="post-list">
        <app-post-list></app-post-list>
      </div>  
    </div>

    <div class="rightblock">
      <div class="posts">
        <app-post></app-post>
      </div>  
    </div>

  </div>  


</body>

<footer>
  
</footer>