
<header>
  <h1 class="tittle">Scribing-App</h1>
</header>

<body>
  <div class="container">
    
    <div class="leftblock">
      
      <div class="calender">
        <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selectedDate" routerLink=""></mat-calendar>
        </mat-card>
      </div>
      
      <div class="mood">
        <app-mood></app-mood>
      </div>
      
    </div>

    <div class="midblock">
        <app-post-list [selectedDate]="selectedDate"></app-post-list> 
    </div>

    <div class="rightblock">
        <!-- <app-post-details></app-post-details> -->
        <router-outlet></router-outlet>
    </div>

  </div>  


</body>

<footer>
  
</footer>