
* {
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    padding: .10em;	
    margin: .10em;
    color:black;	
}

header {
    margin: 0;
    padding: 0;
    height: 10%;
}

body {
    margin: 0;
    padding: 0;
    height: 90%;
}


.calender{
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-inline-calendar-card {
    width: 400px;
    height: 400px;
}

.tittle {
    background-color:aliceblue;
    font-weight: bold;
    text-align: center;
    height:100%;
    margin: 0px;
}

.container{
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;
}

.leftblock{
    width: 25%;
    background-color: blanchedalmond;
}

.midblock{
    display: block;
    align-content: justify;
    width: 25%;	
    background-color: bisque;
    overflow: scroll;
    
}

.rightblock{
    width: 50%;
    background-color:cornsilk  ;
}

.mood{
    background-color:rgb(252, 246, 233) ;
}

.posts{
    background-color:azure;
}


