
* {
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    padding: .10em;	
    margin: .50em;
    color:black;	
}

.showposts{
    width:auto;
    height: 350px;
    background-color: white;
    overflow: hidden;
}

.showposts > h2 {
    font-size: 16px;
    
}

.showposts:hover{
    background-color:lightgray;
}

